body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

/* #About {
  padding-top: 5px;
} */

/* /* .navbar {
      shadow */
/* #Education {
  background-color: #f3b184; */

.card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.card {
    flex: 1 0 auto;
}
.carousel-inner img {
      margin: auto;
}